body {
    font-family: 'Roboto', sans-serif;

}

body h1 {
    font-size: 40px;
}

.orange {
    color: orange;
}

.section1 {
    display: flex;
}

.FastRdiv {
    width: 40%;
    margin: auto;
}

.BTN {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    background-image: linear-gradient(to right, orange, magenta);
}

#ledis {
    max-width: 30%;
}

.section2 {
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-size: 100%;


}

#recipic {
    text-align: center;
}

.lastdiv {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    margin: 30px;



}

#lastdiv1 {
    width: 40%;
    box-shadow: 3px 5px gainsboro;
    padding: 20px;
    border-radius: 15px;
    margin-left: 5px;
}

#lastdiv2 {
    width: 40%;
    box-shadow: 3px 5px gainsboro;
    padding: 20px;
    border-radius: 15px;
    margin-right: 5px;
}

.lastimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

#part3 {
    display: flex;
    margin-bottom: 50px;
}

.count {
    margin: auto;
    text-align: center;
}

.last {
    text-align: center;
    background-color: black;
    color: aliceblue;
    padding-top: 30px;
    padding-bottom: 60px;
    border-radius: 10px;
    margin: 0px;
}